# SPDX-FileCopyrightText: 2024 Davide Paro <dparo@outlook.it>, et al.
# SPDX-FileContributor: Davide Paro <dparo@outlook.it>
#
# SPDX-License-Identifier: Apache-2.0

---
BasedOnStyle: LLVM
UseTab: Never
TabWidth: 8
IndentWidth: 4
ColumnLimit: 100
SortIncludes: false
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: true
SpaceAfterTemplateKeyword: true
