# SPDX-FileCopyrightText: 2024 Davide Paro <dparo@outlook.it>, et al.
# SPDX-FileContributor: Davide Paro <dparo@outlook.it>
#
# SPDX-License-Identifier: Apache-2.0

WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
Checks: "-*,clang-diagnostic-*,clang-analyzer-*,clang-analyzer-cplusplus-*,cppcoreguidelines-*,bugprone-*,concurrency-*,performance-*,portability-*,readability-*,misc-*"
