# SPDX-FileCopyrightText: 2024 Davide Paro <dparo@outlook.it>, et al.
# SPDX-FileContributor: Davide Paro <dparo@outlook.it>
#
# SPDX-License-Identifier: Apache-2.0

---
CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Wunreachable-code
    - -Wunreachable-code-aggressive

Style:
    FullyQualifiedNamespaces:
      - std

InlayHints:
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true


Diagnostics:
    UnusedIncludes: Strict
