# SPDX-FileCopyrightText: 2024 Davide Paro <dparo@outlook.it>, et al.
# SPDX-FileContributor: Davide Paro <dparo@outlook.it>
#
# SPDX-License-Identifier: Apache-2.0

/.git
/Dockerfile
docker/

/dist
/build
/target
/tmp
/coverage

node_modules
cache

.gdb_history
.log
.cache
*.swp

__pycache__
/.venv
/venv
/pyvenv.cfg

